body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.big-image:hover {
/*    opacity:0.80;
    filter:alpha(opacity=80);
    -webkit-backface-visibility:hidden*/
    /*filter:hue-rotate(120deg);*/
    filter:saturate(2) drop-shadow(20px 20px 20px grey);
    /*filter:drop-shadow(8px 8px 10px grey);*/
}

#wow {
  position: relative;
}
#welcomeText {
  position: absolute;
  top: 42%;
    /*bottom: 100px;*/
  left: 42%;
    /*right: 100px;*/
  color: #E1F5FE;
  font-size: 3em;
  drop-shadow(20px 20px 20px white);

  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility opacity 0.5s;
}

#wow:hover #welcomeText {
  visibility: visible;
  opacity: 1;
}



.opacity:hover {
  filter:saturate(1.5) drop-shadow(20px 20px 20px grey);
  cursor:pointer;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

a {
  color: #4183C4;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

a#viewSource {
  border-top: 1px solid #ddd;
  display: block;
  margin: 1.3em 0 0 0;
  padding: 1em 0 0 0;
}

footer {
  text-align: center;
  padding-bottom: 3em;
}

.text-center {
    background-color: #EEEEEE;
    padding-top: 20px
}

div#contact {
  border-top: 1px solid #ddd;
  display: block;
  margin: 1.3em 0 0 0;
  padding: 1em 0 0 0;
  color: #4183C4;
  font-weight: 300;
  text-decoration: none;
}


